<ion-content>

    <ion-card class="welcome-card">
        <ion-img src="./assets/background.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Magic Card Search</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Nel tuo deck ci sono {{names.length}} carte</p>
        </ion-card-content>
      </ion-card>

        <ion-searchbar
        [(ngModel)]="searchName"
        (ionChange)="setFilteredItems()">
      </ion-searchbar>

    <ion-card text-center (click)="expandItem(item)" *ngFor="let item of namesShow">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <app-accordion-element expandHeight="100%" [expanded]="item.expanded">
                        <div style="max-width:560px; min-width:350px; margin:auto">
                          <ion-fab-button (click)="addCardToPage(cards[item.name])" color="dark" style="margin:auto" [disabled]="false && cards[item.name].flippable">
                              <ion-icon name="add"></ion-icon>
                          </ion-fab-button>
                          <div style="width:80%; margin:auto">
                              <!--<ion-img [src]="cards[item.name].details[0].url" *ngIf="!cards[item.name].flippable"></ion-img>-->
                              <flip-card *ngIf="cards[item.name].flippable">
                                  <ion-img class="flip-card-front" [src]="cards[item.name].details[0].url"></ion-img>
                                  <ion-img class="flip-card-back" [src]="cards[item.name].details[1].url"></ion-img>
                              </flip-card>
                              <ion-img [src]="cards[item.name].details[0].url" [style.visibility]="cards[item.name].flippable ? 'hidden' : 'visible'"></ion-img>
                          </div>
                        </div>
        </app-accordion-element>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!searchName">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-content>